.box {
    width: 100%;
    height: 56px;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    border: 2px solid black;
    background-color: #232E35;
}

.btn {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


// :Host [ngClass]
:host.correct-answer {
        .box {
            border-color: green !important;
        }

    .btn-checked-correct {
        display: block;
        width: 13px;
        height: 10px;
    }

    .btn {
        border: 2px solid green !important;
    }
}

:host.disabled-answer {
    .box {
        border-color:gray;
    }

    .btn {
        border: 2px solid gray;
    }
}

:host.wrong-answer {
    .box {
        border-color:red;
    }

    .btn-checked-incorrect {
        display: block;
    }
    
    .btn {
        border: 2px solid red;
    }
}


.btn-checked-none {
    display: none;
}

.answer {
    color: white;
}