<section class="section">
  <div class="container">
    <img class="img_logo" src="../../assets/Logo.png" alt="Logo">

    <div class="content">
      <h2 class="title">Iniciar sesión</h2>
      
      <asl-google-signin-button *ngIf="!user" type="standard" width="400" size="large"> </asl-google-signin-button>

      <hr class="vertical">

      <div class="box">
        <label class="label" for="gmail">Correo electrónico</label>
        <input type="text" class="input" placeholder="Ingrese su correo electrónico" >
      </div>
    </div>

    <div class="text_content">
      <p class="label green">¿Se te olvidó tu contraseña?</p>
      <p class="label">¿Aún no tienes una cuenta? <span class="green" routerLink="/register">Inscribirse</span></p>
    </div>

</div>
</section>

<!-- <div *ngIf="user">
  <img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
  <div>
    <h4>{{ user.name }}</h4>
    <p>{{ user.email }}</p>
  </div>
</div> -->