<section class="section">
    <div class="container">
        <h2 class="title">Perfil</h2>

        <div class="content">
            <div class="box">
                <img class="avatar" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="Foto de perfil">
                <p class="title">Francisco Javier</p>
                <p class="subtitle">fransisco.javier@gmail.com</p>
            </div>

            <span class="logout">Cerrar sesión</span>
        </div>
    </div>
</section>