<div class="quiz">
    <div class="container">
        <div class="score">
            <img src="../../../../assets/icons/Property 1=x.svg" alt="Close Icon" />
            <progress class="progress" value="10" max="100"></progress>
            <div class="heart_box">
                <img src="../../../../assets/icons/Property 1=heart.svg" alt="Heart Icon" />
                <span>4</span>
            </div>
        </div>
        <app-quiz-question></app-quiz-question>

        <!-- <button style="background-color: #6B47DC;" class="next_button">
            Comprobar
        </button> -->
    </div>

    <div class="modal" style="background-color: #ACFFCF;">
        <div class="modal_container">
        <p class="modal_text">¡Buen trabajo!</p>
        <button style="background-color: #2CB67D;" class="next_button">
            Comprobar
        </button>
        </div>
    </div>
</div>
