<div class="quiz">
  <div class="container">
    <div class="score">
      <img
        (click)="restart()"
        src="../../../../assets/icons/Property 1=x.svg"
        alt="Close Icon"
      />
      <progress
        class="progress"
        [value]="currentQuestionIndex$ | async"
        [max]="questionsLength$ | async"
      ></progress>
      <div class="heart_box">
        <img
          src="../../../../assets/icons/Property 1=heart.svg"
          alt="Heart Icon"
        />
        <span>4</span>
      </div>
    </div>
    <h2>
      Question {{ currentQuestionIndex$ | async }} /
      {{ questionsLength$ | async }}
    </h2>
    <app-quiz-question></app-quiz-question>

    <button
      *ngIf="!(showResults$ | async)"
      style="background-color: #6b47dc"
      class="next_button"
      (click)="nextQuestion()"
    >
      Comprobar
    </button>
  </div>

  <!-- Completed Test Modal -->
  <div
    *ngIf="showResults$ | async"
    class="modal"
    [style]="{
      'background-color':
        (correctAnswerCount$ | async)! >= (questionsLength$ | async)! / 2
          ? '#ACFFCF'
          : '#F9CFD7'
    }"
  >
    <div class="modal_container">
      <div
        class="text-box"
        *ngIf="
          (correctAnswerCount$ | async)! >= (questionsLength$ | async)! / 2
        "
      >
        <p class="modal_text" style="color: #269769">¡Buen trabajo!</p>

        <p class="modal_text">
          Has completado {{ correctAnswerCount$ | async }} de
          {{ questionsLength$ | async }} preguntas
        </p>

        <p class="modal_text" style="color: #269769">
          ¡Pasaste, te esperamos en tu siguiente modulo!
        </p>
      </div>

      <div
        class="text-box"
        *ngIf="(correctAnswerCount$ | async)! < (questionsLength$ | async)! / 2"
      >
        <p class="modal_text" style="color: #b81e3b">Lo siento...</p>
        <p class="modal_text">
          Has completado {{ correctAnswerCount$ | async }} de
          {{ questionsLength$ | async }} preguntas
        </p>
        <p class="modal_text" style="color: #b81e3b">
          ¡No pasaste, esfuerzate y puede que lo logres en una proxima ocasion!
        </p>
      </div>

      <button
        [style]="{
          'background-color':
            (correctAnswerCount$ | async)! >= (questionsLength$ | async)! / 2
              ? '#2CB67D'
              : '#EF4565'
        }"
        class="next_button"
        (click)="completedTest()"
      >
        Finalizar
      </button>
    </div>
  </div>
  <!-- Completed Test Modal -->

  <!-- CORRECT -->
  <div
    *ngIf="currentAnswer && currentAnswer === correctAnswer"
    class="modal"
    style="background-color: #acffcf"
  >
    <div class="modal_container">
      <div class="text-box">
        <p class="modal_text">¡Buen trabajo!</p>
        <p class="modal_text" style="color: #2cb67d">
          {{ correctAnswerCount$ | async }} / {{ questionsLength$ | async }}
        </p>
      </div>
      <button
        style="background-color: #2cb67d"
        class="next_button"
        (click)="nextQuestion()"
      >
        Comprobar
      </button>
    </div>
  </div>
  <!-- CORRECT -->

  <!-- INCORRECT -->
  <div
    *ngIf="currentAnswer && currentAnswer !== correctAnswer"
    class="modal"
    style="background-color: #ff7f7f"
  >
    <div class="modal_container">
      <div class="text-box">
        <p class="modal_text" style="color: #b81e3b">
          {{ correctAnswerCount$ | async }} / {{ questionsLength$ | async }}
        </p>
        <p class="modal_text">
          La respuesta correcta era:
          <b style="color: #b81e3b">{{ correctAnswer }}</b>
        </p>
      </div>
      <button
        style="background-color: #2cb67d"
        class="next_button"
        (click)="nextQuestion()"
      >
        Comprobar
      </button>
    </div>
    <!-- INCORRECT -->

  </div>
</div>
