<section class="home">
  <div class="container">
    <h3 class="description">
      Practica tus conocimientos en la categoría que prefieras.
    </h3>
    
    <div class="options">
      <a [routerLink]="option.path" *ngFor="let option of options" style="text-decoration: none;">
        <div class="option">
          <!-- You can now use it in app.component.html -->
          <circle-progress
            class="circle-progress"
            [percent]="option.percent"
            [radius]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="1"
            [backgroundStrokeWidth]="2"
            [outerStrokeColor]="'#2CB67D'"
            [innerStrokeColor]="'#232E35'"
            [backgroundStroke]="'#232E35'"
            [showInnerStroke]="true"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#0B6D44'"
            [animation]="true"
            [animationDuration]="300"
            [showImage]="true"
            [imageSrc]="option.image"
            [imageHeight]="64"
            [imageWidth]="64"
          ></circle-progress>
          <p>{{ option.title }}</p>
        </div>
      </a>
      
    </div>
  </div>
</section>
