.footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: #232E35;
    padding: 12px 24px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-align: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

span {
    font-size: 16px;
    font-weight: lighter;
}